@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Gummi.Models.Product

<h2>Create</h2>
<hr />
<h4>Add a new product</h4>
<div id="create">
    @using (Html.BeginForm())
    {
      <p>@Html.LabelFor(model => model.name)</p>  
      <p>@Html.TextBoxFor(model => model.name)</p> 
      
      <p>@Html.LabelFor(model => model.price)</p>
      <p>@Html.TextBoxFor(model => model.price)</p> 
        
      <p>@Html.LabelFor(model => model.origin)</p> 
      <p>@Html.TextBoxFor(model => model.origin)</p> 

        <input type="submit" value="Add new product" />
    }
</div>

