@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gummi.Models.Product

<h2>Edit</h2>
<hr />
<h4>Edit this product: @Html.DisplayFor(model => model.name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.name)
    @Html.EditorFor(model => model.name)

    @Html.LabelFor(model => model.price)
    @Html.EditorFor(model => model.price)

    @Html.LabelFor(model => model.origin)
    @Html.EditorFor(model => model.origin)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>